input {
  background: none;
  outline: none;
  border: none;
}
.frame{
  width: 300px;
  min-height:100px;
  margin-top: 20px;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input-frame{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.input-label{
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}
.input-panel{
  width: 250px;
  height: 70%;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  padding-left: 5px;
}
.btn-frame{
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background: #0074D9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
}
